
.box {
  width: 100%;
  border: 2px dotted rgb(96 139 168);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.card {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);

  flex: 0 1 auto;

  max-width: 400px;
  min-width: 400px;
  width: 100%;

  box-sizing: border-box;
}


.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardTitle {
  font-size: 16px;
  white-space: nowrap;
}

.rightSide {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}


.icons {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.secondaryInfo {
  margin-top: 10px;
  font-size: 14px;
}

.coreBar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.greenBox {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 3px;
  flex: 0 1 20px;
}
